.button-remove {
  width: 18%;
  position: relative;
  display: inline-block;
  margin: 5px;
  & > img {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
  & > img:hover {
    border: 0.5px solid black;
  }
  & > div {
    width: 100%;
    text-align: center;
    background-color: blanchedalmond;
    font-size: 16px;
  }
}
